body {
    background-color: rgb(206, 236, 197);
}

.container-form {
    width:80%;
    margin:0 auto;
    background: #fff;
    padding: 2em;
    border-radius: 10px;

    .container-field {
        min-height:70px;
    }

    label {
        margin:3em 0 1em 0;
        display:block;
    }

    input[type="text"], input[type="email"], input[type="password"] {
        background: rgba(197, 236, 197,.4);
    }

    

    .progressBar{
        width:0%;
        height:5px;
        border-radius: 5px;
        background: transparent;
        margin-top: 5px;
        padding: 0;
        transition: all .4s ease;
        &.success {
            background: green;
            width:100%;
        }
        &.error {
            background:red;
            width:100%;
        }
    }

    

    input[type="submit"] {
        width:100%;

    }
}

.error {
    color:red;
    input[type="text"], input[type="email"], input[type="password"] {
        color:red;
        background: rgb(252, 202, 202);
    }

    small {
        margin-top:0;
        
    }
}



